{%extends "mainApp/wrapper.html"%}
{% load static %}
{% block content %}
<div id="carousel_arduino class="carousel slide" data-ride="carousel" style="padding-left: 25%; padding-right: 25%;">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{% static 'img/arduino/arduino_1.png' %}" class="d-block w-100" alt="arduino_1">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/arduino/arduino_2.jpg' %}" class="d-block w-100" alt="arduino_2">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/arduino/arduino_3.jpg' %}" class="d-block w-100" alt="arduino_3">
    </div>
  </div>
</div>
<div class='container-fluid'>
	<p></p>
	<p style="font-size: 20px; font-weight: 500; font-color: black; ">Arduino - электроплата, которая применяется для сборки разных устройств мехатроники, робототехники, и так далее</p>
	<a  class="btn btn-primary" target = "_blank" href="https://www.youtube.com/playlist?list=PL1J_YW4nT6tiwEZDEsap5BZmZiYVeORPo" style="color: white; font-weight: 700; font-size: 30px;"> Смотреть на YouTube</a>
</div>

<script>
	$(function () {
		$('#carousel_arduino').carousel({
  		interval: 10000
		});
	});
</script>
{% endblock %}